bs4
langchain
langchain-community
langchain-chroma
langchain_google_genai
grpcio
langchain-experimental
langchainhub
pypdf
docx2txt
markdown
tiktoken
nltk
argparse
arxiv
pymupdf
wikipedia
asyncio
scikit-learn
unstructured
validators
