bs4
langchain
langchain-community
langchain_google_genai
grpcio
langchain-experimental
langchainhub
chromadb
pypdf
docx2txt
attackcti
Jinja2
markdown
tiktoken
unstructured
nltk
argparse
arxiv
pymupdf
wikipedia
