bs4
langchain
langchain-community
langchain-chroma
langchain_google_genai
langchain-experimental
pypdf
docx2txt
markdown
tiktoken
nltk
pymupdf
unstructured
arxiv
wikipedia
scikit-learn
youtube-transcript-api
chainlit
